<div class="custom-page">
    <div class="row">
        <div class="container">
            <div class="custom-page-header">
                <div class="col-md-4">
                    <p>image here</p>
                </div>
                <div class="col-md-8">
                    <p>content here</p>
                </div>
            </div>
        </div>
    </div>
</div>