<div class="password-login">
    <style>
        .password-login {
            padding: 5% 0px;
            margin: 0 auto;
        }
        .password-login a {
            display: inline-block;
            background: #144173;
            padding: 15px 35px;
            color: #fff;
            border-radius: 3px;
        }
        .loginBtn{
            width: 100%;
            text-align: center;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="loginBtn">
                <a class="text-center" href="/admin">
                    Login
                </a>
            </div>
        </div>
    </div>
</div>

