<div class="top-selling">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="sec-title">
                    {% form 'storefront_password' %}
                    {{ form.errors | default_errors }}
                    <label for="password">Enter store using password:</label>
                    <input type="password" name="password" id="password" autofocus="" />
                    <input class="btn" name="commit" type="submit" value="Enter" />
                    {% endform %}                             
                </div>
            </div>
        </div>
    </div>
</div>